[color]
  ui = true

[user]
	name = Josh Mervine
	email = jmervine@yp.com

[core]
  editor = vim

[push]
  default = tracking

[alias]
  st = status
  cp = cherry-pick
  co = checkout
  cl = checkout -
  ci = commit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lp = log -p
  pa = pull --all
  ba = branch -a
  br = branch -r
  cia = commit -a
  ciaa = commit -a --amend
  wtf = blame

[github]
	user = jmervine
